/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #406882;
  --ifm-color-primary-dark: #1A374D;
  --ifm-color-primary-darker: #1A374D;
  --ifm-color-primary-darkest: #1A374D;
  --ifm-color-primary-light: #6998AB;
  --ifm-color-primary-lighter: #B1D0E0;
  --ifm-color-primary-lightest: #B1D0E0;
  --ifm-code-font-size: 95%;
  --ifm-background-color: #eeeeee;
}

/* From https://theochu.com/docusaurus/styling/ */
html[data-theme='dark'] {
  --ifm-background-color: #222222;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}